
names
progressbar2
Babel
Pillow
phonenumbers
gunicorn
boto3
sentry-sdk
selenium
sib-api-v3-sdk

Django
django-storages
django-phonenumber-field
django-heroku
django-user-agents
django-extensions

psycopg2-binary
sqlparse
